style
    include Profile.css

- let avatarURL = "https://yt3.ggpht.com/a/AGF-l79J268L8ezHGDGnFh57D0wyFA-ltncqGF3cVA=s900-c-k-c0xffffffff-no-rj-mo";

if isAuthorized
    if isMode === 'editing'
        .profile
            .profile__title.profile_margin-big Редактирование профиля
            .profile-avatar.profile_margin-big
                .profile-avatar__avatar
                    img.profile-avatar__image(src=avatarURL, alt=`${avatarURL}`)
                .profile-avatar__buttons.profile_margin-small
                    input(type="file", name="Выберите файл")
            .profile-info
                .profile-info-left
                    .profile-info__fieldname.profile_margin-small    Никнейм
                    .profile-info__fieldname.profile_margin-small    Имя
                    .profile-info__fieldname.profile_margin-small    Фамилия
                    .profile-info__fieldname.profile_margin-small    Email
                    .profile-info__fieldname.profile_margin-small    Новый пароль
                    .profile-info__fieldname.profile_margin-small    Подтверждение
                .profile-info-right
                    input.profile_margin-small(type="text", name="nickname" value=nickname) 
                    input.profile_margin-small(type="text", name="first_name" value=first_name) 
                    input.profile_margin-small(type="text", name="last_name" value=last_name)
                    input.profile_margin-small(type="text", name="email" value=email)
                    input.profile_margin-small(type="password", name="new_password" value="password")
                    input.profile_margin-small(type="password", name="second_password" value="password")
            .profile-info__buttons-group
                button#backProfileButton.profile__button_margin Назад
                button#saveProfileButton.profile__button_margin Сохранить
    else if isMode === 'history'
        .profile
            .profile__title.profile_margin-big История заказанных билетов
            if tickets_history.length
                .ticket-group
                        each item, idx in tickets_history
                            .ticket-block
                                img.ticket-block__poster(src=item.poster_popup)
                                .ticket-information
                                    h2 #{ item.title }
                                    .ticket-information__row    Зал: #{ item.hall_name }
                                    .ticket-information__row    Номер места: #{ item.seat_number }
                                    .ticket-information__row    Дата: #{ item.start_datetime.match(/\d{4}-\d{2}-\d{2}/)[0] }
                                    .ticket-information__row    Время: #{ item.start_datetime.match(/\d{2}:\d{2}/)[0] }
                                    .ticket-information__row    Цена: #{ item.price }
            else
                h3(style = "color: white; font-style: italic;") История заказанных билетов пуста!
            button#backProfileButton.profile__button_margin Назад
    else
        .profile
            .profile__title.profile_margin-big Профиль
            .profile-avatar__avatar.profile_margin-big
                    img.profile-avatar__image(src=avatarURL, alt=`${avatarURL}`)
            .profile-info
                .profile-info-left
                    .profile-info__fieldname.profile_margin-small    Никнейм
                    .profile-info__fieldname.profile_margin-small    Имя
                    .profile-info__fieldname.profile_margin-small    Фамилия
                    .profile-info__fieldname.profile_margin-small    Email
                .profile-info-right
                    .profile-info__value.profile_margin-small #{ nickname }
                    .profile-info__value.profile_margin-small #{ first_name }
                    .profile-info__value.profile_margin-small #{ last_name }
                    .profile-info__value.profile_margin-small #{ email }
            button#editProfileButton.profile__button_margin Редактировать
            if tickets.length
                .profile__title.profile_margin-big Заказанные билеты
                .ticket-group
                    each item, idx in tickets
                        .ticket-block
                            img.ticket-block__poster(src=item.poster_popup)
                            .ticket-information
                                h2 #{ item.title }
                                .ticket-information__row    Зал: #{ item.hall_name }
                                .ticket-information__row    Номер места: #{ item.seat_number }
                                .ticket-information__row    Дата: #{ item.start_datetime.match(/\d{4}-\d{2}-\d{2}/)[0] }
                                .ticket-information__row    Время: #{ item.start_datetime.match(/\d{2}:\d{2}/)[0] }
                                .ticket-information__row    Цена: #{ item.price }
            else
                .profile__title.profile_margin-big Нет заказанных билетов
            button#historyProfileButton.profile__button_margin История заказанных билетов
else
    .profile
        h1 Вы не авторизованы!                
        