style
    include Popup.css

- let posterURL = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.IzfMKABl5eseT1w1ZLWfhwHaK-%26pid%3DApi&f=1';
- let layouts = []

div.popup-window#popupWindow
    div.popup-desc-wrapper
        img.popup-poster(src=`${posterURL}`)
        div.popup-desc
            p Название: #{locals.title}
            p Жанр:     #{locals.genre}
            p Время:    #{locals.length} минут
            p Год:      #{locals.year}
            p Актёры:   #{locals.mainactor}
            button#closePopupButton Закрыть
    if locals.timeLayout
        div(style='font-size: 20px;') Выбор времени
        div.popup-sessions-list-wrapper#sessionsList
            each item, idx in locals.sessions
                button.popup-session-item(id=`popup-time-${idx}`) #{item.time}
    else
        div(style='font-size: 20px;') Выбор места
        div.popup-session-seats-wrapper#seatsList
            each row, idxRow in locals.seatsArray
                each seatItem, idxSeat in row
                    if seatItem.isTaken
                        button.popup-seat-item(id=`popup-seat-${seatItem.seatNumber}` disabled) #{seatItem.seatNumber}
                    else
                        button.popup-seat-item(id=`popup-seat-${seatItem.seatNumber}`) #{seatItem.seatNumber}
                br
        button#backPopupSeatsButton Назад
