style
    include Filmpage.css
    include ../../../css/buttons.css
-var imgHref =  poster_popup
-var videosrc = trailer

mixin film()
    .wrapper
        div(class="row")
            div(class="title")
                h1 #{title}
                p #{genre}
        div(class="row")
            div(class="column-left")
                img(class='square' src= imgHref)
            div(class="column-right")
                p
                    span.tip Продолжительность:
                    | #{length}
                p
                    span.tip Режиссёр:
                    |  #{director}
                p
                    span.tip Производство:
                    |  #{production}
                p
                    span.tip Год выпуска:
                    |  #{year}
                p
                    span.tip В ролях:
                    | #{mainactor}
                div.ratingGroup
                    div.ratingText
                        span.tip Рейтинг:
                        div#ratingCounter #{rating}
                    if isAuthorized
                        if is_voted
                            button#ratingPlusButton.ratingBtn.ratingBtn_voted ♥
                        else
                            button#ratingPlusButton.ratingBtn ♥
                p
                    div
                        tr #{description}
                if isAuthorized
                    button.button_green#buyTicketButton Купить билет
                else
                    button.button_grey#buyTicketButton(disabled) Купить билет
                    span(style="color: red") Требуется авторизация
    .container
        h1 Смотрите также:
        div.recommendations-block.recommendations-block_dark
            if recommendations
                each item, idx in recommendations
                    a( href=`/film/${item.id}`)
                        img.recommendations-block__poster(src=`${item.poster_popup}`)

            
    .container
        div(class="row")
            h1 Trailers
        div(class="row film-trailer")
            iframe.frame-trailer(src=videosrc, allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', frameborder='0')
    .container
        div#commentsSectionWrapper.comments-section-wrapper
            h2  Написать комментарий
            if isAuthorized
                div#addCommentSection.add-comment-section
                    textarea#addCommentArea.add-comment-area
                    div.add-comment-buttons-section
                        button.button_green#submitCommentButton.submit-comment-button Отправить
                        button.button_red#clearCommentButton.clear-comment-button Очистить
            else
                div(style="color:red")
                    h3 Чтобы оставить комментарий нужно авторизоваться!
            h2  Комментарии
            div#commentsSection.comments-section
                if comments
                    each item, idx in comments
                        div.comment-block
                            div.comment-username #{item.Username}
                            div.comment-text #{item.Text}

+film(imgHref, videosrc)
